{
  "tabWidth": 4,
  "plugins": ["@shufo/prettier-plugin-blade"],
  "overrides": [
    {
      "files": ["*.blade.php"],
      "options": {
        "parser": "blade",
        "sortTailwindcssClasses": true,
        "tailwindcssConfigPath": "./resources/tailwind.config.js"
      }
    }
  ]
}