parameters:
    paths:
        - ../../../app
    excludePaths:
    level: 8
    ignoreErrors:
        - '#is not allowed to extend#'
        - '#has a nullable return type declaration#'
        - '#with null as default value#'
        - '#with a nullable type declaration#'
        - '#Constructor in ([\w\\]+) has parameter ([\$\w]+) with default value.#'
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
