parameters:
    paths:
        - ../../../app
    excludePaths:
    level: 8
    ignoreErrors:
        - '#is not allowed to extend#'
        - '#Constructor in ([\w\\]+) has parameter ([\$\w]+) with default value.#'
        - '#Method ([\w\\\:_\(\)]+) has parameter ([\$\w]+) with a nullable type declaration.#'
        - '#Method ([\w\\\:_\(\)]+) has parameter ([\$\w]+) with null as default value.#'
        - '#Method ([\w\\\:_\(\)]+) has a nullable return type declaration.#'
        - '#Dynamic call to static method ([\w\\\:\(\)\<\>]+).#'
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
