.light-dark-icon {
    --icon-color-primary-100: var(--theme-color-primary-100); /* #E5F0F8 */
    --icon-color-primary-200: var(--theme-color-primary-200); /* #BAD6F0 */
    --icon-color-secondary-200: var(--theme-color-secondary-200); /* #EEF3F5 */
    --icon-color-secondary-300: var(--theme-color-secondary-300); /* #DBDEE5 */
    --icon-color-secondary-900: var(--theme-color-secondary-900); /* #212225 */
    --icon-color-success-50: var(--theme-color-success-50); /* #F1FBF4 */
    --icon-color-warning-100: var(--theme-color-warning-100); /* #FFE6B8 */
    --icon-color-danger-100: var(--theme-color-danger-100); /* #FFE0DA */
}

.dark .light-dark-icon {
    --icon-color-primary-100: var(--theme-color-primary-900); /* #173E85 */
    --icon-color-primary-200: var(--theme-color-primary-900); /* #173E85 */
    --icon-color-secondary-200: var(--theme-color-secondary-800); /* #3C4249 */
    --icon-color-secondary-300: var(--theme-color-secondary-800); /* #3C4249 */
    --icon-color-secondary-900: var(--theme-color-secondary-600); /* #7E8A9C */
    --icon-color-success-50: var(--theme-color-success-800); /* #2B4F35 */
    --icon-color-warning-100: var(--theme-color-warning-900); /* #EC5C08 */
    --icon-color-danger-100: var(--theme-color-danger-800); /* #5B1B1B */
}

.ark-logo-red {
    @apply text-theme-danger-500;
    --icon-color-secondary: #FFFFFF;
}
