@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/** UI Repo Styles **/
@import "_buttons.css";
@import "_animations.css";

/* purgecss start ignore */
@import "@toast-ui/editor/dist/toastui-editor.css";

.ark-markdown-editor .ProseMirror {
    @apply p-5 h-full text-theme-secondary-700 dark:text-theme-secondary-500;
}

/* Line number */
@screen md {
    .ark-markdown-editor.with-line-numbers .ProseMirror {
        @apply pl-18;
    }

    .ark-markdown-editor.with-line-numbers
        .toastui-editor-main-container:before {
        content: "";
        @apply border-l border-theme-secondary-200 absolute h-full block ml-13 mt-5 dark:border-theme-secondary-700;
        height: calc(100% - 2.5rem);
    }

    .ark-markdown-editor.with-line-numbers .ProseMirror > div {
        counter-increment: line;
    }

    .ark-markdown-editor.with-line-numbers .ProseMirror > div:before {
        content: counter(line);
        @apply p-0 text-xs text-center text-theme-secondary-500 w-11 absolute -ml-16 flex justify-end pr-5 items-center;
    }
}

.ark-markdown-editor .toastui-editor-defaultUI {
    @apply border-none;
}

.ark-markdown-editor .toastui-editor-tabs {
    display: none;
}

.ark-markdown-editor .toastui-editor-defaultUI-toolbar {
    @apply bg-white border-none relative;
}

.ark-markdown-editor .toastui-editor-defaultUI-toolbar:before {
    content: "";
    @apply border-b border-theme-secondary-200 absolute w-full block ml-5 bottom-0 left-0;
    width: calc(100% - 2.5rem);
}

.ark-markdown-editor .toastui-editor-toolbar {
    @apply h-auto;
}

.ark-markdown-editor .toastui-editor-toolbar:not(.ark-markdown-editor-toolbar) {
    @apply h-auto;
    /* @apply h-0 overflow-visible; */
}
.ark-markdown-editor .toastui-editor-defaultUI {
    @apply block;
}

.ark-markdown-editor .toastui-editor-defaultUI-toolbar {
    @apply hidden;
}

.ark-markdown-editor .toastui-editor-popup {
    top: auto !important;
}

.ark-markdown-editor .toastui-editor-toolbar-icons {
    @apply bg-none;
}

/* purgecss end ignore */
