:root {
    --theme-color-dark-blue-rgb: 70, 138, 241;
    --theme-color-dark-blue-50: #f5f9ff;
    --theme-color-dark-blue-100: #e1edff;
    --theme-color-dark-blue-200: #cbdfff;
    --theme-color-dark-blue-300: #8bb9ff;
    --theme-color-dark-blue-400: #64a1ff;
    --theme-color-dark-blue-500: #468af1;
    --theme-color-dark-blue-600: #3170d1;
    --theme-color-dark-blue-700: #2c528d;
    --theme-color-dark-blue-800: #1c3459;
    --theme-color-dark-blue-900: #0f1f38;
}

.theme-dark-blue {
    --theme-color-primary-rgb: var(--theme-color-dark-blue-rgb);
    --theme-color-primary-50: var(--theme-color-dark-blue-50);
    --theme-color-primary-100: var(--theme-color-dark-blue-100);
    --theme-color-primary-200: var(--theme-color-dark-blue-200);
    --theme-color-primary-300: var(--theme-color-dark-blue-300);
    --theme-color-primary-400: var(--theme-color-dark-blue-400);
    --theme-color-primary-500: var(--theme-color-dark-blue-500);
    --theme-color-primary-600: var(--theme-color-dark-blue-600);
    --theme-color-primary-700: var(--theme-color-dark-blue-700);
    --theme-color-primary-800: var(--theme-color-dark-blue-800);
    --theme-color-primary-900: var(--theme-color-dark-blue-900);
}
