.theme-navy {
    --theme-color-primary-rgb: 67, 129, 192;
    --theme-color-primary-50: #F2F6FA;
    --theme-color-primary-100: #E6EFF9;
    --theme-color-primary-200: #B6D7F8;
    --theme-color-primary-300: #8AC0F6;
    --theme-color-primary-400: #5CA4EC;
    --theme-color-primary-500: #4381C0;
    --theme-color-primary-600: #235B95;
    --theme-color-primary-700: #154A82;
    --theme-color-primary-800: #073769;
    --theme-color-primary-900: #062A50;
}
